{% extends 'base.html' %}
{% block breadcrumb%}
<li class="breadcrumb-item"><a href="{% url 'home' %}" class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Accueil</a></li>
<li class="breadcrumb-item active" aria-current="page" class="text-secondary">Enseignements</li>
{% endblock breadcrumb%}
{% block content %}
<div class="container-fluid container-md">
    <div class="row">
        <div class="col-12 mt-3">
                <h1 class="mb-3">Enseignements {{annee_en_cours}}</h1>
                
                <div class="row mb-2">
                    {% if trimestres_actif %}
                    <div class="col-12 col-sm-6 mb-2 mb-md-0 col-md-7 col-lg-8">
                        <div class="d-flex justify-content-md-end align-items-center">
                            <a class="btn btn-outline-primary" href="{% url 'discipline_add' %}"><i class="bi bi-plus-circle"> Ajouter</i></a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-5 col-lg-4">
                        <div>
                            <input type="text" name="intitule" placeholder="Filtrer" maxlength="60" class="form-control" id="customSearch">
                        </div>
                    </div>
                    {% else %}
                    <div class="col-12 col-sm-6 col-md-5 offset-md-7 col-lg-4 offset-lg-8">
                        <div class="d-flex justify-content-end align-items-center">
                            <input type="text" name="intitule" placeholder="Filtrer" maxlength="60" class="form-control" id="customSearch">
                        </div>
                    </div>
                    {% endif %}
                </div>
                <table id="table" 
                style="border-color:transparent;"
                data-toggle="table"
                data-search="true"
                data-search-selector="#customSearch"
                data-maintain-meta-data="true"
                data-height="600"
                data-pagination="true"
                data-page-list="[10, 25, 50, 100]"
                data-page-size="25"
                data-locale="fr-FR"
                >
                    <thead>
                    <tr>
                        <th data-field="intitule" data-sortable="true" scope="col">Intitulé</th>
                        <th data-field="classes" data-sortable="true"  class="text-center" scope="col">Classes</th>
                        <th data-field="enseignants" data-sortable="true"  scope="col">Enseignant(s)</th>
                        <th data-field="trimestres" data-sortable="true"  scope="col">Trimestre</th>
                        <th data-field="relecture" data-sortable="true"scope="col" class="text-center" >Relec. act.</th>
                        <th data-field="relecteur" scope="col" data-searchable="false">Relu par</th>
                        <th data-field="eleves" scope="col" data-searchable="false">Effectifs</th>
                        <th></th>
    

                    </tr>
                    </thead>
                    <tbody>
                        {% for discipline in disciplines %}
                        <tr {% if request.user.nom_court in discipline.show_enseignants and discipline.trimestre in trimestres_actif  %} class="table-secondary" {% endif %}>
                        <td>{% if request.user.nom_court in discipline.show_enseignants and discipline.trimestre in trimestres_actif  %}<a href="{% url 'discipline_change' discipline.id %}">{%if discipline.intitule_court%}{{ discipline.intitule_court }}{%else%}{{ discipline.intitule }}{%endif%} {{ discipline.show_classes}} {{ discipline.trimestre.show_Tnum}}</a>{% else %}<a href="{% url 'discipline_detail' discipline.id %}">{%if discipline.intitule_court%}{{ discipline.intitule_court }}{%else%}{{ discipline.intitule }}{%endif%} {{ discipline.show_classes}} {{ discipline.trimestre.show_Tnum}}</a>{% endif %}</td>
                        <td class="text-center" >{% if discipline.show_classes %}{{ discipline.show_classes }}{% else %}...{% endif %}</td>
                        <td>{{ discipline.show_enseignants}}</td>
                        <td >{{ discipline.trimestre|default_if_none:"non défini" }}</td>
                        <td class="text-center">{% if discipline.relectureActive %}<i class="bi bi-check-circle-fill text-primary"></i>{% else %}<i class="bi bi-x-circle"></i>{% endif %}</td>
                        <td>{{discipline.reluPar.nom_court|default_if_none:''}}</td>
                        <td class="text-center">{% if request.user.nom_court in discipline.show_enseignants and discipline.trimestre in trimestres_actif  %}<a href="{% url 'discipline_eleve_change' discipline.id %}"><i class="bi bi-people-fill"></i></a>{% else %}<a href="{% url 'discipline_eleve_detail' discipline.id %}"><i class="bi bi-people-fill"></i></a>{% endif %}</td>
                        <td>{% if request.user.nom_court in discipline.show_enseignants and discipline.trimestre in trimestres_actif  %}<a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdropRemoveDiscipline{{discipline.id}}">
                            <i class="bi bi-trash"></i></a>{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </fieldset>
            
    
        </div>
    
    </div>

    {% for discipline in disciplines %}
    <div class="modal fade" id="staticBackdropRemoveDiscipline{{discipline.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div data-bs-theme="dark" class="modal-header bg-pink ps-4">
                <h1 class="modal-title" id="staticBackdropLabel">Supprimer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body p-4">
    
                <h3>Attention</h3>
            <p>Vous vous apprêtez à supprimer l'enseignement :</p>

            <div class="border rounded p-3 mb-2 bg-light">
                {{discipline.intitule}} - {{discipline.show_classes}} - {{discipline.trimestre}}
              </div>

            <p>Si des appréciations ont été renseignées pour celle-ci, elles seront perdues !</p>
                    
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Annuler</button>
                <a class="btn btn-danger" href="{% url 'discipline_delete' discipline.id %}">
                    Supprimer
                  </a>
            </div>
            </div>
      </div>
    </div>
    {%  endfor %}
</div>


{% endblock content %}