{% extends 'base.html' %}
{% load bulletins_extras %}
{% block breadcrumb%}
  <li class="breadcrumb-item"><a href="{% url 'home' %}" class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Accueil</a></li>
          <li class="breadcrumb-item"><a href="{% url 'my_disciplines_liste' %}" class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Mes enseignements</a></li>
{% endblock breadcrumb%}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
     {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
<div class="container-fluid container-md mt-4">
    <div class="row">
            <div class="col-12">
            <h1 class="mb-4">Ajouter un enseignement</h1>
    
            
            <div class="row row-flex">
            
                    <div class="col-12 col-lg-4 col-xl-3 mb-lg-5 mb-xl-0">
                        <fieldset class="content mt-2 rounded shadow p-4 pb-4 pb-lg-2">
                                <h2 class="fs-4 pb-2">Paramètres</h2>
                           
                            <div class="form-floating mb-3">
                                {{ form.trimestre|add_classes:'form-select'}}
                                <label for="{{form.trimestre.id_for_label}}">Sélectionnez le trimestre</label>
                            </div>

                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-12">
                                    <label for="{{form.enseigneeDans.id_for_label}}">Classe(s)</label>
                                    {{form.enseigneeDans}}
                                </div>
                    
                                <div class="col-12 col-sm-6 col-md-12">
                                    <label for="{{form.enseigneePar.id_for_label}}">Associer d'autres enseignants</label>
                                    <p class="mt-2">{{form.enseigneePar}}</p>
                                </div>
                            </div>
                            

                            <div class="form-check form-switch mt-3">
                                {{form.voirProf|add_classes:'form-check-input'}}
                                <label class="form-check-label" for="{{form.voirProf.id_for_label}}">
                                Afficher professeur(s)
                                </label>
                            </div>

                            <div class="form-check form-switch mt-3">
                                {{form.initialiser_evaluations|add_classes:'form-check-input'}}
                                <label class="form-check-label" for="{{form.initialiser_evaluations.id_for_label}}">
                                {{form.initialiser_evaluations.label}}
                                </label>
                                {% if form.initialiser_evaluations.help_text %}
                                <small class="form-text text-muted d-block mt-1">{{form.initialiser_evaluations.help_text}}</small>
                                {% endif %}
                            </div>
            
                        </fieldset>
                        
                    </div>
            
                    <div class="col-12 col-lg-8 col-xl-6 mb-lg-5 mb-xl-0">
                        <fieldset class="content mt-2 rounded shadow p-4 pb-4 pb-lg-2">
                            <h2 class="fs-4 pb-2">Discipline</h2>
            
                            <div class="form-floating mb-3">
                                {{form.intitule|add_classes:'form-control w-100'}}
                                <label for="{{form.intitule.id_for_label}}"">Intitulé de l'enseignement</label>
                            </div>

                            <div class="form-floating mb-3">
                                {{form.intitule_court|add_classes:'form-control w-100'}}
                                <label for="{{form.intitule_court.id_for_label}}"">Intitulé court</label>
                            </div>
            
                            <div class="form-floating mb-3">
                                {{ form.titre.errors }}
                                {{form.titre|add_classes:'form-control'}}
                                <label for="{{form.intitule.id_for_label}}"">Titre (optionnel)</label>
                            </div>
            
                            <div class="form-floating">
                                {{form.descriptif|add_classes:'form-control h150px'}}
                                <label for="{{form.descriptif.id_for_label}}"">Descriptif</label>
                            </div>

                            
                        </fieldset>
            
            
                        
                    </div>
            
                    <div class="mt-lg-3 mt-xl-0 col-xl-3 ">
            
                        <fieldset class="content mt-2 rounded shadow p-4 pb-4 pb-lg-2">
                                <h2 class="fs-4">Autres infos</h2>
            
                            <div class="form-floating mt-3">
                                {{ form.volumeHoraire|add_classes:'form-control'}}
                                <label for="{{form.volumeHoraire.id_for_label}}">Volume horaire (en h)</label>
                            </div>
            
                            <div class="form-floating mt-3">
                                {{ form.typeEnseignement|add_classes:'form-select'}}
                                <label for="{{form.typeEnseignement.id_for_label}}">Type d'enseignement</label>
                            </div>
            
                            <div class="form-floating mt-3">
                                {{ form.dateDebut|add_classes:'form-control'}}
                                <label for="{{form.dateDebut.id_for_label}}">A démarré le...</label>
                            </div>
                
                            <div class="form-floating mt-3">
                                {{ form.dateFin|add_classes:'form-control'}}
                                <label for="{{form.dateFin.id_for_label}}">S'est terminé le...</label>
                            </div>
            
                            <div class="form-check form-switch mt-3">
                                {{form.presentBulletin|add_classes:'form-check-input'}}
                                <label class="form-check-label" for="{{form.presentBulletin.id_for_label}}">
                                Publier dans bulletin
                                </label>
                            </div>

                            <div class="form-check form-switch mt-3">
                                {{form.activerMoyenne|add_classes:'form-check-input'}}
                                <label class="form-check-label" for="{{form.activerMoyenne.id_for_label}}">
                                Afficher la moyenne de la classe
                                </label>
                            </div>

                            <div class="form-floating mt-3">
                                {{ form.reluPar|add_classes:'form-select'}}
                                <label for="{{form.reluPar.id_for_label}}">Sélectionnez un relecteur</label>
                            </div>

                            <div class="form-check form-switch mt-3">
                                {{form.relectureActive|add_classes:'form-check-input'}}
                                <label class="form-check-label" for="{{form.relectureActive.id_for_label}}">
                                Ouvrir à la relecture
                                </label>
                            </div>
            
                        </fieldset>
            
            
                    </div>
    
    
        </div>
    </div>
</div>

</div>

<div class="container-fluid bg-light border-top fixed-bottom">
    <div class="container-lg">
        <div class="row me-md-1">
            <div class="col-12 p-2">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary shadow me-2" type="submit">Créer</button>
                    <a class="btn btn-secondary shadow" href="{% url 'disciplines_liste' %}">Annuler</a>
                </div>
            </div>
        </div>
    </div>
</div>


</form>
    



{% endblock content %}