{% extends 'base.html' %}
{% load bulletins_extras %}
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}" class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Accueil</a></li>
  <li class="breadcrumb-item"><a href="{% url 'corrections_liste' %}" class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Mes corrections</a></li>
{% endblock breadcrumb %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
     {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
<div class="container-fluid container-md">
            <h2 class="mb-2 mt-2 mt-sm-4">Proposer des corrections pour {%if discipline.intitule_court%}{{ discipline.intitule_court }}{%else%}{{discipline.intitule|truncatechars:15}}{%endif%} {{ discipline.show_classes}} - {{ discipline.trimestre}}</h2>
</div>

{% if 'admin' in request.path %}

<div class="container">
    <div class="row">    
        <div <div class="col-12 col-xl-11">>

            <div class="alert alert-primary alert-dismissible fade show mt-4" role="alert">
            <i class="bi bi-exclamation-triangle"></i> En tant qu'administrateur vous vous apprêtez à les corrections d'un collègue
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>

{% endif %}

<div class="container-fluid container-md strip">
    <div class="row mt-2 mb-2 pt-md-4 pb-2 pb-md-4 striped">
        <div class="col-12">
            <fieldset class="rounded shadow p-3 p-md-5">
                
                <h4 class="mb-3">Titre</h4>

                <div class="row align-items-center">

                    <div class="col-12 col-lg-6 mb-3">
                        <div class="content border rounded p-4 bg-light user-select-all">{{discipline.titre|default_if_none:"Non renseigné"}}</div>
                    </div>
                    <div class="col-12 col-lg-6 mb-3">
                        <div class="content form-floating">
                            {{form.titre_correction|add_classes:'form-control bg-primary-subtle pt-5 pb-4'}}
                            <label for="{{form.titre_correction.id_for_label}}">{% if discipline.titre_correction %}Ma correction pour le titre{% else %}Proposer une correction pour le titre{% endif %}</label>
                        </div>
                    </div>
                </div>
                
                <hr/>

                <h4 class="mb-3">Descriptif</h4>

                <div class="row align-items-center">
                    
                    <div class="col-12 col-lg-6 mb-3">
                        <div class="content border rounded p-4 bg-light user-select-all">
                            {{discipline.descriptif|default_if_none:"Non renseigné"}}
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 mb-3 ">
                        <div class="content form-floating">
                            {{form.descriptif_correction|add_classes:'form-control bg-primary-subtle pt-5 pb-4'}}
                            <label for="{{form.descriptif_correction.id_for_label}}">{% if discipline.descriptif_correction %}Proposer une correction pour le descriptif{% else %}Proposer une correction pour le descriptif{% endif %}</label>
                        </div>
                    </div>
                </div>

                {% if competencesConnaissances %}

                <hr/>

                <h4 class="mb-3">Compétences évaluées</h4>
                

                    {{ formset_competence.management_form }}

                    {% for form_competence,competence in formset_competence|zip:competencesConnaissances %}
                        {% for hidden in form_competence.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-3">
                                <div class="content border rounded p-4 bg-light user-select-all">{{competence.intitule}}</div> 
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div class="content form-floating">
                                    {{form_competence.intitule_correction|add_classes:'form-control bg-primary-subtle pt-5 pb-4'}}
                                    <label for="{{form_competence.intitule_correction.id_for_label}}">{% if competence.intitule_correction %}Ma proposition de correction{% else %}Proposer une correction pour la compétence{% endif %}</label>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                
                {% endif %}

                <hr/>

                <div class="form-floating mb-3">
                    {{form.remarque_correction|add_classes:'form-control bg-danger-subtle pt-5 pb-4'}}
                    <label for="{{form.remarque_correction.id_for_label}}">{% if discipline.remarque_correction %}Mes remarques{% else %}Une remarque, une suggestion de la part du correcteur ?{% endif %}</label>
                </div>

                </fieldset>
        </div>
    </div>

{% if appreciations %}
{{ formset_appreciations.management_form }}

    {% for form_appreciation,appreciation in formset_appreciations|zip:appreciations %}
    <div class="row mt-2 mb-2 pt-md-4 pb-2 pb-md-4 striped">
        <div class="col-12 col-xl-11">
            <fieldset class="rounded shadow p-3 p-md-5">
                {% for hidden in form_appreciation.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}
                    <h4 class="mb-3">{{appreciation.eleve.prenom}} {{appreciation.eleve.nom}} - Appréciation</h4>

                <div class="row">
                    {% if appreciation.attitude %}
                    <div class="col-12 col-sm-3">
                        <div class="form-floating mb-3">
                            Attitude : {{ appreciation.attitude}}
                        </div>
                    </div>
                    {% endif %}
                    {% if appreciation.engagement %}
                    <div class="col-12 col-sm-3">
                        <div class="form-floating mb-3">
                            Engagement : {{ appreciation.engagement}}
                        </div>
                    </div>
                    {% endif %}

                    {% if appreciation.note %}
                    <div class="col-12 col-sm-3">
                        <div class="form-floating mb-3">
                            Note : {{ appreciation.note}}
                        </div>
                    </div>
                    
                    {% elif appreciation.resultat %}
                    <div class="col-12 col-sm-3">
                        <div class="form-floating mb-3">
                            Résultat : {{ appreciation.resultat}}
                        </div>
                    </div>
                    {% endif %}

                </div>

                {% if competencesConnaissances %}
                <div class="row">
                    <div class="col-12">
                        <table class="table table-striped">
                            
                            {% for competence in competencesConnaissances%}
                                {% for competenceAppreciation in competencesAppreciations %}
                                    {% if competenceAppreciation.competence == competence and competenceAppreciation.appreciation == appreciation %}
                                        <tr>    
                                            <td>{{competence.intitule}}</td>
                                            <td>{{competenceAppreciation.evaluation}}</td>
                                        </tr>
                                    {%endif%}
                                {% endfor %}
                            {% endfor %}
                           
                        </table>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <div class="content border rounded p-3 bg-light mb-2 user-select-all">
                            {{appreciation.commentaire}}
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="content form-floating">
                            {{form_appreciation.commentaire_correction|add_classes:'form-control bg-primary-subtle pt-5 pb-4'}}
                            <label for="{{form_appreciation.commentaire_correction.id_for_label}}">{% if form_appreciation.commentaire_correction %}Ma proposition de correction pour le commentaire{% else %}Proposer une correction pour le commentaire{% endif %}</label>
                        </div>
                    </div>
                </div>

                

                <div class="form-floating mb-3">
                    {{form_appreciation.remarque_correction|add_classes:'form-control bg-danger-subtle pt-5 pb-5'}}
                    <label for="{{form_appreciation.remarque_correction.id_for_label}}">{% if form_appreciation.remarque_correction %}Une remarque, une suggestion de la part du correcteur ?{% else %}Une remarque, une suggestion de la part du correcteur ?{% endif %}</label>
                </div>

            </fieldset>
        </div>
    </div>
    {% endfor %}
{% endif %}
</div>

<div class="container-fluid bg-light border-top fixed-bottom">
    <div class="container-lg">
        <div class="row me-md-1">
            <div class="col-12 col-xl-11 p-2">
                <div class="d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary me-2 shadow">Enregistrer</button> 
                    {% if 'admin' in request.path %}
                    <a href="{% url 'corrections_admin_liste'%}" class="btn btn-secondary shadow me-2">Annuler</a>
                    {% else %}
                    <a href="{% url 'corrections_liste' %}" class="btn btn-secondary shadow me-2">Annuler</a>
                    {% endif %}
                    <a class="btn btn-danger" data-bs-toggle="offcanvas" href="#offcanvasNotice" role="button" aria-controls="offcanvasNotice">
                        Notice
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</form>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNotice" aria-labelledby="offcanvasNoticeLabel">
        <div data-bs-theme="dark" class="offcanvas-header bg-danger">
          <h3 class="offcanvas-title text-white" id="offcanvasExampleLabel">Notice corrections</h3>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
                <p>Vous pouvez ici proposer des corrections dans les champs dédiés.</p>
                <p>Ces corrections seront proposées au responsable de l'enseignement, qui pourra les valider ou les invalider.</p>
                <p>Vous pouvez également émettre des remarques vis-à-vis des paramètres d'un enseignement ou d'une appréciation, en laissant votre commentaire dans le champ prévu à cet effet.</p>
        </div>
    </div>

{% endblock content %}