{% extends 'base.html' %}
{% load bulletins_extras %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}" class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Accueil</a></li>
<li class="breadcrumb-item">{% if 'admin' in request.path %}<a href="{% url 'corrections_admin_liste' %}" class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Corrections</a>{% else %}<a href="{% url 'my_corrections_liste' %}" class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Corrections</a>{% endif %}</li>
{% endblock breadcrumb %}
{% block content %}
<form action="" method="post">
  {% csrf_token %}
   {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}

<div class="container-fluid container-md">
  <h2 class="mb-2 mt-2 mt-sm-4">Valider des corrections pour {{stage.get_typeStage_display}} {{stage.trimestre}}</h2>
  <h3> {{stage.eleve.prenom}} {{stage.eleve.nom}} - {{stage.eleve.show_classe}}<sup>e</sup> classe</h2>
  <h4 class="mb-3">proposées par {{stage.relecteur.nom_court}}</h4>
</div>

{% if 'admin' in request.path %}

<div class="container">
    <div class="row">    
        <div <div class="col-12 col-xl-11">
            <div class="alert alert-primary alert-dismissible fade show mt-2 mb-0" role="alert">
            <i class="bi bi-exclamation-triangle"></i> En tant qu'administrateur vous vous apprêtez à modifier les corrections d'un collègue
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>

{% endif %}

<div class="container-fluid container-md mt-4">

          
              <div class="row row-flex">
                  <div class="col-12 col-lg-8 mb-lg-5 mb-xl-0">
                      <fieldset class="content mt-2 rounded shadow p-4 pb-4 pb-lg-2">
                        <h4 class="mb-3">Descriptif</h4>

                          
                                  <div class="border rounded p-4 bg-light user-select-all">
                                      {{stage.descriptif|default_if_none:"Non renseigné"}}
                                  </div>
                              {%if stage.descriptif_correction %}
                                  <div class="form-floating mt-3">
                                      {{form.descriptif_correction|add_classes:'form-control bg-primary-subtle pt-5 pb-4'}}
                                      <label for="{{form.stage_correction.id_for_label}}">Correction proposée</label>
                                  </div>
                              {% endif %}

                          <hr/>

                          <h4 class="mb-3">Appréciation</h4>

                              
                                  <div class="border rounded p-4 bg-light user-select-all">
                                      {{stage.appreciation|default_if_none:"Non renseigné"}}
                                  </div>
                              {%if stage.appreciation_correction %}
                                  <div class="form-floating mt-3">
                                      {{form.appreciation_correction|add_classes:'form-control bg-primary-subtle pt-5 pb-4'}}
                                      <label for="{{form.appreciation_correction.id_for_label}}">Correction proposée</label>
                                  </div>
                              {% endif %}


                  </fieldset>
              </div>
              <div class="col-12 col-lg-4 mb-lg-5 mb-xl-0">
                  
                  <fieldset class="content mt-2 rounded shadow p-4 pb-4 pb-lg-2">
                    <h3>Infos</h3>

                    <div class="form-floating mb-3">
                      {{form.remarque_correction|add_classes:'form-control bg-danger-subtle pt-5 pb-4 h200px'}}
                      <label for="{{form.remarque_correction.id_for_label}}">{% if stage.remarque_correction %}Mes remarques{% else %}Remarque ? Suggestion ?{% endif %}</label>
                  </div>

                  <ul class="list-group list-group-flush">
                    {% if stage.lieuStage %}<li class="list-group-item">Lieu(x) : <strong>{{stage.lieuStage}}</strong></li>{% endif %}
                    {% if stage.maitreStage %}<li class="list-group-item">Maitre de stage : <strong>{{stage.maitreStage}}</strong></li>{% endif %}
                    {% if stage.tuteur %}<li class="list-group-item">Tuteur : <strong>{{stage.tuteur}}</strong></li>{% endif %}
                    {% if stage.dureeStage %}<li class="list-group-item">Durée : <strong>{{stage.nbJours}} jours</strong></li>{% endif %}
                    {% if stage.dateDebut %}<li class="list-group-item">A démarré le <strong>{{stage.dateDebut}}</strong></li>{% endif %}
                    {% if stage.dateFin %}<li class="list-group-item">S'est terminé le <strong>{{stage.dateFin}}</strong></li>{% endif %}
                  </ul>

                

                  </fieldset>
              </div>
              
          </div>
          

</div>



<div class="modal fade" id="staticBackdropDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div data-bs-theme="dark" class="modal-header bg-pink ps-5">
          <h1 class="modal-title" id="staticBackdropLabel">Supprimer</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-5">
           
            <h2>Attention !</h2>

            <p>Ceci aura pour effet de supprimer définitivement toutes les propositions de corrections associées à ce stage.</p>

            <span><button class="btn btn-primary me-3" type="button" data-bs-dismiss="modal" aria-label="Close">J'annule</button></span>

            {% if 'admin' in request.path %}
            <span><a class="btn btn-danger" href="{% url 'my_correction_admin_stage_delete' stage.id %}">Supprimer les corrections</a></span>

            {% else %}
            <span><a class="btn btn-danger" href="{% url 'my_correction_stage_delete' stage.id %}">Supprimer les corrections</a></span>

            {% endif %}

        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="staticBackdropSave" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div data-bs-theme="dark" class="modal-header bg-pink ps-5">
          <h1 class="modal-title" id="staticBackdropLabel">Valider</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-5">
           
            <h2>Attention !</h2>

            <p>Ceci aura pour effet de valider toutes les corrections proposées sur cette page !</p>

            <p>Je peux invalider une correction en effaçant son contenu, avant de valider.</p>

            <span><button class="btn btn-primary me-3" type="button" data-bs-dismiss="modal" aria-label="Close">J'annule</button></span>

            <span><button class="btn btn-danger" type="submit">Valider les correction</button></span>

        </div>
      </div>
    </div>
  </div>

</div>

<div class="container-fluid bg-light border-top fixed-bottom">
  <div class="container-lg">
      <div class="row me-md-1">
          <div class="col-12 p-2">
              <div class="d-flex justify-content-end">
                  <button class="btn btn-primary shadow me-2" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdropSave">Valider</button>
                  <button class="btn btn-danger shadow me-2" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdropDelete">Invalider</button>
                  {% if 'admin' in request.path %}
                  <a href="{% url 'corrections_admin_liste'%}" class="btn btn-secondary shadow me-2">Annuler</a>
                  {% else %}
                  <a href="{% url 'my_corrections_liste' %}" class="btn btn-secondary shadow me-2">Annuler</a>
                  {% endif %}
              </div>
          </div>
      </div>
  </div>
</div>
    
</form>

{% endblock content %}