// adaption couleurs EMG
$blue:    #2b80ffe2;
$indigo:  #afa5d1;
$purple:  #7b3e90;
$pink:    #ca2574;
$red:     #c5361e;
$orange:  #fbba00;
$yellow:  #fce821;
$green:   #6db85f;
$teal:    #00818e;
$cyan:    #6dc3c6;

$primary:       $pink;
$success:       $green;

$danger:        $purple;

$font-family-sans-serif:      "Quicksand", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$zindex-offcanvas-backdrop:         5000;
$zindex-offcanvas:                  5000;

$table-border-width:          0px;
